name: Daily build

# Controls when the action will run.
on: 
  schedule:
    - cron: '30 2 * * *'

jobs:
    build:
        runs-on: ubuntu-latest
        services:
          mongodb:
            image: mongo:4.2.0
            env:
              # Following credentials are only used during testing in docker container
              MONGO_INITDB_ROOT_USERNAME: admin
              MONGO_INITDB_ROOT_PASSWORD: admin
          mongodb-ssl:
            image: rzhilkibaev/mongo-x509-auth-ssl:latest
        steps:
            - uses: actions/checkout@v2
            
            # Set up Java Environment
            - name: Set up JDK 11
              uses: actions/setup-java@v1
              with:
                java-version: 11 
            
            # Grant execute permission to the gradlew script
            - name: Grant execute permission for gradlew
              run: chmod +x gradlew

            # Build the project with Gradle
            - name: Build with Gradle
              env:
                packageUser: ${{ secrets.BALLERINA_BOT_USERNAME }}
                packagePAT: ${{ secrets.BALLERINA_BOT_TOKEN }}
                JAVA_OPTS: -DBALLERINA_DEV_COMPILE_BALLERINA_ORG=true
              run: |
                ./gradlew build
            
            - name: Ballerina Build W/ tests
              uses: ballerina-platform/ballerina-action/@nightly
              with:
                args:
                  test --groups mongodb mongodb
              env:
                JAVA_HOME: /usr/lib/jvm/default-jvm
                # Following credentials are only used during testing in docker container
                MONGODB_HOST: mongodb
                MONGODB_USER: admin
                MONGODB_PASSWORD: admin
            
            - name: Ballerina Build W/ tests (SSL)
              uses: ballerina-platform/ballerina-action/@nightly
              with:
                args:
                  test --groups mongodb-ssl
              env:
                JAVA_HOME: /usr/lib/jvm/default-jvm
                # Following credentials are only used during testing in docker container
                WORKING_DIR: ./mongodb
                MONGODB_HOST: mongodb-ssl
                MONGODB_USER: C=US,ST=CA,L=San Francisco,O=Jaspersoft,OU=JSDev,CN=admin
            
            - name: Ballerina Build W/O tests
              uses: ballerina-platform/ballerina-action/@nightly
              with:
                args:
                  pack mongodb
              env:
                JAVA_HOME: /usr/lib/jvm/default-jvm
                JAVA_OPTS: -DBALLERINA_DEV_COMPILE_BALLERINA_ORG=true

            # Send notification when build fails
            - name: Notify failure
              if: ${{ failure() }}
              run: |
                curl -X POST \
                'https://api.github.com/repos/ballerina-platform/ballerina-release/dispatches' \
                -H 'Accept: application/vnd.github.v3+json' \
                -H 'Authorization: Bearer ${{ secrets.BALLERINA_BOT_TOKEN }}' \
                --data "{
                  \"event_type\": \"notify-build-failure\",
                  \"client_payload\": {
                    \"repoName\": \"module-ballerinax-mongodb\"
                  }
                }"
